.logo {
  max-width: 120px;
}

.logo1 {
  max-width: 400px;
}
.custom-alert {
  background-color: #212121;
  color: white;
  text-align: center;
}

.errormobile{
  display: none;
}

.cover-banner {
  position: relative;
  height: 100vh;
  background: url("../img/banner2.png") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  text-align: center;
  color: #fff;
}
.cover-banner2 {
  position: relative;
  height: 50vh;
  background: url("../img/contacto.png") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #3a3a3aa9;
  text-align: center;
  color: #fff;
  color: white;
}

.cover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.custom-button {
  width: auto;
  padding: 10px 20px;
}

h1 {
  font-size: 4rem;
}
.custom1 {
  background-color: red;
}

/* Envios */

.envios {
  position: relative;
  background-image: url("../img/banner1.png");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  color: #fff;
}
.envios h1 {
  text-align: center;
  padding-top: 20px;
}
.contacto {
  position: relative;
  background-image: url("../img/contacto.png");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.alumnos2 {
  position: relative;
  background-image: url("../img/alumnosfondo.png");
  background-size: cover;
  height: 100vh;
  color: #fff;
}
.alumnos {
  margin-top: 30px;
}
.nomostrar{
  display: none;
}

.contacto1 {
  margin-left: 100px;
  margin-right: 100px;
  max-width: 100%;
  background-color: #0000000c;
  padding: 10px;
  border-radius: 10px;
}
.btn-info {
  background-color: #51985f;
  color: white;
  border: #396341;
}
.btn-info:hover {
  background-color: #396341;
  color: white;
}

.hola404 {
  position: relative;
  background-image: url("../img/404.png");
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nube{
  position: static;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Responsive */

@media (max-width: 768px) {
  .nomostrar{
    display: block;
  }
  h1{
      font-size:28px; 
  }
  .logo1{
    max-width: 200px;
  }
  .envios{
    display: none;
  }
  .contacto1{
    margin: 0;
  }
  .alumno2{
    position: absolute;
    background-image: url("../img/alumnosfondo.png");
    color: #fff;
    height: 100vh;
    
  }
  .custom-button{
    margin: 0;
  }
  .errormobile{
    height: 50vh;
    background: url("../img/contacto.png") center center no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  .clouds{
    display: none;
  }
  .errorr{
    color: #396341;
    font-weight: 900;
  }
  .error1{
    font-size: 3rem;
    font-weight: 300;
  }
}
