.logo{
    max-width: 120px;
}

.logo1{
    max-width: 400px;
}
.custom-alert {
    background-color:#212121;
    color: white;
    text-align: center;
}




.cover-banner {
    position: relative;
    height: 100vh;
    background: url('imagen-stanley.jpg') center center no-repeat;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.cover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.custom-button {
    width: auto; 
    padding: 10px 20px;
}

h1{
    font-size: 4rem;
}
.custom1{
    background-color: red;
}

/* Estilo de la tarjeta de producto */
.card {
    border: none;
    box-shadow: none;
}

.card-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.card-text {
    font-size: 16px;
    margin-bottom: 10px;
    color: #666;
}

.card img {
    max-width: 100%;
}

/* Estilo del botón de compra */
.btn-primary {
    display: block;
    width: 100%;
    background-color: #007bff;
    color: #fff;
    text-align: center;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
}

/* Estilo del botón de compra al pasar el mouse */
.btn-primary:hover {
    background-color: #0056b3;
}

/* Estilo del encabezado del botón */
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

/* Estilo de la tarjeta */
.card-body {
    padding: 20px;
}

/* Estilo del precio */
.card-text.price {
    font-size: 24px;
    color: #ff5722;
    font-weight: bold;
}